<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ blog.title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <h1 class="text-center">Edit Blog Detail</h1>

    <form method="POST" action="/edit/{{blog.blog_id}}"
        style="padding: 20px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); background-color: #fff; max-width: 600px; margin: auto;">
        <div style="margin-bottom: 15px;">
            <label for="title" style="display: block; margin-bottom: 5px; font-weight: bold; color: #333;">Blog
                Title</label>
            <input type="text" id="title" name="title"
                style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 4px;" required
                placeholder="Blog Title" value={{blog.title}}>
        </div>
        <div style="margin-bottom: 15px;">
            <label for="title" style="display: block; margin-bottom: 5px; font-weight: bold; color: #333;">
                author</label>
            <input type="text" id="title" name="author"
                style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 4px;" required
                placeholder="author name" value="{{blog.author}}">
        </div>
        <div style="margin-bottom: 20px;">
            <label for="content"
                style="display: block; margin-bottom: 5px; font-weight: bold; color: #333;">Content</label>
            <textarea id="content" name="content" rows="6"
                style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 4px;"
                required>{{blog.content}}</textarea>
        </div>
        <button type="submit" value="Edit" class="btn btn-primary"
            style="width: 100%; padding: 10px; background-color: #007bff; border: none; border-radius: 4px; color: #fff; font-size: 16px; cursor: pointer;">
            Submit Edit Blog
        </button>
    </form>

    <!-- Optional Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
        </script>
</body>

</html>